/* Flex On! */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;800&display=swap');

body {
    font-family: 'Red Hat Display', 'Tahoma', sans-serif;
    font-weight: 400;
	margin: 0;
	padding: 0;
}

.flex {
	display: flex;
}

.f-row {
	display: flex;
	flex-direction: row;
}

.f-col {
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.page {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

.justify-start {
	justify-content: start;
}
.justify-center {
	justify-content: center;
}
.justify-end {
	justify-content: end;
}

.align-start {
	/* Note: aligns on second axis */
	align-items: start;
}
.align-center {
	/* Note: aligns on second axis */
	align-items: center;
}
.align-end {
	/* Note: aligns on second axis */
	align-items: end;
}
